<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">CHAT - LOGIN</a>
  </div>
</div>
</div>  

<div class="col-md-3 col-sm-3">

    <div class="panel panel-default">
        <div class="panel-heading">
        LOGIN
        </div>

      <div class="panel-body">

        <form role="form" ng-submit="login()">

          <div>User:</div>
          <div><input type="text" style="width: 100%;" /></div>
          <div>Password:</div>
          <div><input type="text" style="width: 100%;"/></div>
          <br />
          <div>
            <button class="btn" type="submit">LOGIN</button>
          </div>

        </form>
      </div>
  </div>

</div>


<div class="col-md-3 col-sm-3">


</div>